<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta http-equiv="Content-Type" content="text/html" />
<meta name="keywords" content="sutan gading fadhillah nasution, sgnzst, sutan, gading, fadhillah, nasution, mahasiswa, it polsri, itpolsri, polsri, politeknik negeri sriwijaya" />
<meta name="description" content="Sutan Gading Fadhillah Nasution Website">
<link rel="canonical" href="https://sutanlab.js.org">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sofadi+One" />
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/sgnzst.css" />
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/animation.css" />
<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/messagesbox.css">
<link rel="icon" type="image/png" href="{{site.baseurl}}/assets/icons/sg.png">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script type="text/javascript">
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7961916509688457",
    enable_page_level_ads: true
  });
</script>