<div class="kontainer">
  <div class="main" style="margin-bottom: 0; padding-bottom: 0">
    <div class="kontainer-table">
      <h2 class="animasi-scroll-right">Message Me.</h2>
      <div class="line-kontainer animasi-scroll-left"></div>
    </div>
    <div class="kontainer-table" style="padding: 10px">
      <input type="text" id="form-name" placeholder="Enter your name" value="">
      <textarea id="form-message" placeholder="Enter your messages"></textarea>
      <button role="button" aria-label="post-message" class="a-button" id="post-message" onclick="return postMessage()">
        <i class="fa fa-send"></i> Post Message
      </button>
      <div id="form-feedback" class="kontainer"></div>
    </div>
  </div>
  <div class="kontainer messages">
    <h3>Loading Messages...</h3>
  </div>
</div>
