<!-- Request  -->
<script type="text/javascript" src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Mine -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/dist/firebaseInitialize.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/dist/sgnzst.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/dist/main.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/dist/portfolio.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/dist/messagesbox.js"></script>
